
<div class="card">
  <div class="card-image">
    <figure>
      <img *ngIf="photoUrl" [src]="photoUrl" alt="Placeholder image" />
    </figure>
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4">Photo</p>
        <p class="subtitle is-6">@author</p>
        <button (click)="onClick()" class="button">Fetch Photo</button>
        <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris.
        </div>
      </div>
    </div>
  </div>
</div>
