<div class="card">
  <div class="card-image">
    <figure>
      <img
        *ngIf="photoUrl"
        [src]="photoUrl.urls.regular"
        alt="Placeholder image"
      />
    </figure>
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4"
            *ngIf="photoUrl.user.name"
        >
          {{ photoUrl.user.name }}
        </p>
        <p class="subtitle is-6">
          {{
            photoUrl.user.twitter_username
              ? photoUrl.user.twitter_username
              : photoUrl.user.instagram_username
          }}
        </p>
        <div class="content">
          {{ photoUrl.description }}
        </div>
        <footer class="card-footer">
            <button (click)="onClick()" class="button">Fetch Photo</button>
        </footer>
      </div>
    </div>
  </div>
</div>
